<!-- Passport Facebook Strategy -->
FACEBOOK_callbackURL = http://localhost:3000/auth/facebook/callback
FACEBOOK_clientID = SKIP
FACEBOOK_clientSecret = SKIP

<!-- Passport Google Strategy -->
GOOGLE_clientID = SKIP
GOOGLE_clientSecret = SKIP
GOOGLE_callbackURL = http://localhost:3000/auth/google/callback

<!-- MongoDB -->
MONGODB_URI = mongodb://localhost/expense-tracker
SESSION_SECRET = SKIP

<!-- Sever port -->
PORT = 3000
